@media only screen and (max-width: 767px) {
  body {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
  }

  .hamburger-icon {
    display: inline;
    border-radius: 10px;
    border: none;
    background-color: white;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    height: auto;
    width: 100%;
    border-bottom: solid 1px grey;
  }

  .left-section,
  .right-section {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .logo-link {
    width: 100px;
    margin-bottom: 10px;
  }

  .header-link {
    font-size: 10px;
  }

  .about-link {
    margin-left: 10px;
  }

  .register-nav-button {
    padding: 12px 20px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 10px;
  }

  .main-container {
    border-width: 1px;
    padding: 20px 10px;
    height: auto;
  }

  .heading-one {
    font-size: 24px;
    margin-top: 40px;
  }

  .heading-three {
    font-size: 18px;
    margin-top: 20px;
  }

  .paragraph-one,
  .paragraph-two {
    font-size: 14px;
    margin: 10px 0;
  }

  .register-nav-link-two {
    display: inline-block;
    margin: 30px auto 50px auto;
    font-size: 14px;
    padding: 10px 15px;
  }

  .footer-container {
    text-align: center;
    font-size: 10px;
    padding: 10px 0;
    height: auto;
  }
}


body {
  font-family: 'Courier New', Courier, monospace;
}

.header-container {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  border-bottom: solid 1px grey;
}

.hamburger-icon {
  display: block;
}


.left-section {
  display: flex;
  width: 350px;
  align-items: center;
}
.right-section {
  display: flex;
  width: 700px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  margin: 20px;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.logo-link {
  margin-left: 3px;
  width: auto;
  height: auto;

}

.about-link {
  margin-left: 110px;
}

.register-nav-button {
  background-color: green;
  border-radius: 5px;
  border: none;
  padding: 20px 40px;
  margin-left: 15px;
}
.register-nav-link {
  color: white;
}

#main-moola {
  color: green;
}
#main-alfie {
  color: red;
}

#heading {
  margin-bottom: 0;
}
#header-paragraph {
  margin-top: 0;
  font-style: italic;
  font-weight: bold;
}

.main-container {
  text-align: center;
  height: 400px;
}
.heading-one {
  margin-top: 100px;
  margin-bottom: 0px;
}
.heading-three {
  margin-top: 50px;
  font-size: 20px;
}
.paragraph-one {
  margin-top: 0;
  margin-bottom: 20px;
}
.paragraph-two {
  margin-top: 0;
  margin-bottom: 20px;
}
.register-nav-link-two {
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer-container {
  text-align: center;
}
