@media only screen and (max-width: 767px) {
  body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .sign-up-button {
    margin-top: 1px;
  }

  #paragraph-one {
    font-size: 12px;
    margin-bottom: 3px;
  }
  
  .label {
    font-size: 13px;
    display: inline;
  }

  .footer-container {
    text-align: center;
    font-size: 10px;
    padding: 10px 0;
  }
}


body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.sign-up-button {
  margin-top: 1px;
}

.forms {
  margin-bottom: 3px;
}

#paragraph-one {
  font-size: 12px;
  margin-bottom: 3px;
}

.label {
  font-size: 13px;
  display: inline;
}

.header-container {
  height: 150px;
  width: auto;
  border-bottom: solid 1px grey;
}

#main-moola {
  color: green;
}
#main-alfie {
  color: red;
}

#passwordInstruction {
  text-align: left;
}