@media only screen and (max-width: 767px) {
  body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .sign-up-button {
    margin-top: 1px;
  }

  .footer-container {
    text-align: center;
    font-size: 10px;
    padding: 10px 0;
  }
}


body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.sign-up-button {
  margin-top: 1px;
}

.header-container {
  height: 150px;
  width: auto;
  border-bottom: solid 1px grey;
}

#main-moola {
  color: green;
}
#main-alfie {
  color: red;
}