@media only screen and (max-width: 767px) {

  body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  #heading {
    margin-bottom: 0;
    border: solid black;
  }
  #header-paragraph {
    margin-top: 0;
  }

  .sign-up-container {
    text-align: center;
  }
  
  .sign-in-container {
    text-align: center;
  
  }
  
  .account-list-container {
    margin-top: 0px;
    text-align: center;
  
  }

  
  .account-list-table {
    margin: auto;
    text-align: center;
  
  }

  span {
    font-weight: bold;
  }

  .sign-in-button {
    margin-top: 1px;
  }

  .sign-up-button {
    margin-top: 1px;
  }

}

/* For PCs */

body {
  font-family: 'Courier New', Courier, monospace;
}

.sign-up-container {
  text-align: center;
}

.sign-in-container {
  text-align: center;

}

.account-list-container {
  margin-top: 50px;
  text-align: center;

}

.account-list-table {
  margin: auto;
  text-align: center;

}

span {
  font-weight: bold;
}

.sign-in-button {
  margin-top: 1px;
}

.sign-up-button {
  margin-top: 1px;
}