@media only screen and (max-width: 767px) {

  .sign-up-container {
    text-align: center;
  }
  
  .sign-in-container {
    text-align: center;
  
  }
  
  .account-list-container {
    margin-top: 0px;
    text-align: center;
  
  }
  
  .account-list-table {
    margin: auto;
    text-align: center;
  
  }

  span {
    font-weight: bold;
  }

  .sign-in-button {
    margin-top: 1px;
  }

  .sign-up-button {
    margin-top: 1px;
  }

}

.sign-up-container {
  text-align: center;
}

.sign-in-container {
  text-align: center;

}

.account-list-container {
  margin-top: 50px;
  text-align: center;

}

.account-list-table {
  margin: auto;
  text-align: center;

}

span {
  font-weight: bold;
}

.sign-in-button {
  margin-top: 1px;
}

.sign-up-button {
  margin-top: 1px;
}